<h1 class="mt-4">Serviço Prestado</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Consulta</li>
</ol>
<div class="container">
    <form #consultarForm="" (submit)="consultar()">
        <div class="row">
            <div class="col-md-6">
                <label for="input-nome">Nome</label>
                <input type="text" name="nome" id="input-nome" class="form-control" [(ngModel)]="nome">
            </div>
            <div class="col-md-6">
                <label for="input-mes">Mês</label>
                <select name="mes" id="input-mes" class="form-control" [(ngModel)]="mes">
                    <option value="">Selecionar...</option>
                    <option *ngFor="let mes of meses" [value]="mes">{{ mes }}</option>
                </select>
            </div>
        </div>
        <br />
        <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i> Pesquisar</button>
        <button class="btn btn-warning ml-1" routerLink="/servicos-prestados-form" type="button">
            <i class="fa fa-plus"></i>
                Novo
        </button>
    </form>

    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Descrição</th>
                        <th>Valor</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <div class="alert alert-warning" role="alert" *ngIf="message && servicos.length === 0">
                    {{ message }}
                </div>
                <tbody *ngIf="servicos.length > 0">
                    <tr *ngFor="let servico of servicos">
                        <td>{{ servico.cliente!.nome }}</td>
                        <td>{{ servico.descricao }}</td>
                        <td>{{ servico.valor }}</td>
                        <td>{{ servico.data }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>