<h1 class="mt-4">Serviço Prestado</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Consulta</li>
</ol>
<div class="container">
    <form #consultarForm="" (submit)="consultar()">
        <div class="row">
            <div class="col-md-6">
                <label for="input-nome">Nome</label>
                <input type="text" name="nome" id="input-nome" class="form-control" [(ngModel)]="nome">
            </div>
            <div class="col-md-6">
                <label for="input-mes">Mês</label>
                <select name="mes" id="input-mes" class="form-control" [(ngModel)]="mes">
                    <option value="">Selecionar...</option>
                    <option *ngFor="let mes of meses" [value]="mes">{{ mes }}</option>
                </select>
            </div>
        </div>
        <br />
        <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i> Pesquisar</button>
    </form>
</div>