<h1 class="mt-4">Serviço Prestado</h1>
<ol class="breadcumb mb-4">Novo</ol>
<div class="container">
    <form #form="ngForm" (submit)="save()">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Cliente: </label>
                    <select class="form-control">
                        <option value="">Selecione...</option>
                        <option *ngFor="let cliente of clientes" [value]="cliente.id">{{ cliente.nome }}</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>